body {
  cursor: pointer;
}

/* #6B7A8f
#F7882F
#F7C331
#DCC7AA */

.bg-primary-a {
  background-color: rgba(247, 136, 47, 0.9) !important;
}

.bg-primary {
  background-color: #F7882F !important;
}

.btn-primary {
  outline:none;
  background-color: #F7C331 !important;
}
.bg-light {
  background-color: #DCC7AA !important;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
        transition: 0.3s;
}

#logo {
    position: absolute;
    left: -10px;
    top:0;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}
.wrapper:hover {
    transition: 0.3s;
    left: 0px;
    width:100px;
    height:100px;
}
.wrapper:hover #logo {
    transition: 0.3s;
    left: 0px;
    width:100px;
    height:100px;
}
/* #logo{
  transition: all 0.3s;
}
#logo:hover{
  transition: all 0.3s;
  width:100px;
  height:100px;
} */
.nav-link {
  color: white !important;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

header.masthead {
  padding-top: calc(3rem + 36px);
  padding-bottom: 3rem;
}

section.page-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar {
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.img-fluid {
  box-shadow: 0.5rem 0.5rem 1.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

hr.divider {
  max-width: 4rem;
  border-width: 0.2rem;
  border-color: #F7882F;
}

hr.light {
  border-color: #fff;
}

header.masthead h1 {
  font-size: 4rem;
}

#portrait {
  opacity: 0;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

#portrait.load {
  opacity: 1;
}

.flip {
  width: 350px;
  height: 350px;
  perspective: 600px;
  cursor: pointer;
}

.flip>div {
  cursor: pointer;
  transition: .5s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  cursor: pointer;
  transform: rotateY(0deg);
}

.back {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}

.flip:hover .front {
  cursor: pointer;
  transform: rotateY(45deg);
}

.flip:hover .back {
  cursor: pointer;
  transform: rotateY(225deg);
}

img {
  cursor: pointer;
}

div {
  cursor: pointer;
}

.btn-2 {
  border: none;
  cursor: pointer;
  position: relative;
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
  outline: none !important;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
  border-radius: 5rem;
  padding:0.5rem 1.2rem;
}
.btn-2:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
